<div class="container">
  <h2>Edit User</h2>
  <form (ngSubmit)="updateUser()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>
    </div>
    <div class="form-group">
      <label for="profession">Profession</label>
      <input type="text" class="form-control" id="profession" [(ngModel)]="user.profession" name="profession" required>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="genderDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ selectedGenderLabel }}
        </button>
        <div class="dropdown-menu" aria-labelledby="genderDropdown">
          <a class="dropdown-item" *ngFor="let gender of genders" (click)="selectGender(gender)">{{ gender }}</a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of Birth</label>
      <input type="date" class="form-control" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth" required>
    </div>
    <input type="file" (change)="onFileSelected($event)">
    <button type="submit" class="btn btn-primary">Update User</button>
    <button type="button" class="btn btn-secondary" (click)="router.navigate(['/'])">Cancel</button>
  </form>
</div>