.dropdown-item:hover {
    background-color: #d67bed;
    font-weight: 500;
}

.dropdown-divider {
    margin: 0;
}

.alert-dismissible {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    @media (max-width: 1024px) {
        max-width: 50%;
    }
}