@import "../../../styles/variables";

.table-responsive {
  overflow-x: auto;
}

@include below($screen-lg) {
  .table {
    display: flex;
    flex-direction: column;

    thead {
      display: none;
    }

    tbody {
      display: flex;
      flex-direction: column;
    }

    tr {
      display: flex;
      flex-direction: column;
      border: 1px solid;
      border-color: inherit;
      margin-bottom: 1.5rem;
    }
  }
}
