
    <td data-label="Profile image">
        <img *ngIf="user.image" [src]="user.image" alt="User Image" class="user-image">
        <span *ngIf="!user.image">No Image</span>
    </td>
    <td data-label="First Name">{{ user.firstName | capitalizeFirstLetter}}</td>
    <td data-label="Last Name">{{ user.lastName | capitalizeFirstLetter}}</td>
    <td data-label="Profession">{{ user.profession | capitalizeFirstLetter}}</td>
    <td data-label="Gender">{{ user.gender }}</td>
    <td data-label="Date of Birth">{{ user.dateOfBirth | date: 'shortDate' }}</td>
    <td data-label="Age">{{ user.dateOfBirth | calculateAge }}</td>
    <td data-label="Actions">
        <a [routerLink]="['/edit-user', user.id]" class="edit-button btn btn-sm">Edit</a>
        <button class="btn btn-danger btn-sm" (click)="onDelete()">Delete</button>
    </td>